defaults {
	user_friendly_names yes
	rr_min_io 1
	no_path_retry queue
	rr_weight uniform
	path_grouping_policy group_by_serial=1
	getuid_callout "/lib/udev/scsi_id --whitelisted --device=/dev/%n page=0x80 --replace-whitespace"
}

blacklist {
      devnode "sda$"
}
