# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto eth0
iface eth0 inet dhcp

auto eth1
iface eth1 inet manual
  up ip link set $IFACE up
  down ip link set $IFACE down

auto br-ex
iface br-ex inet static
  address {{br_ex_ip_address}}
  netmask {{br_ex_netmask}}
  gateway {{br_ex_gateway}}
