[DEFAULT]
# Show debugging output in log (sets DEBUG log level output)
# debug = True

# The Neutron user information for accessing the Neutron API.
auth_url = http://{{keystone_host}}:35357/v2.0
auth_region = RegionOne
admin_tenant_name = {{service_tenant}}
admin_user = {{neutron_user}}
admin_password = {{neutron_password}}

# IP address used by Nova metadata server
nova_metadata_ip = {{ansible_eth2.ipv4.address}}

# TCP Port used by Nova metadata server
nova_metadata_port = 8775

# When proxying metadata requests, Neutron signs the Instance-ID header with a
# shared secret to prevent spoofing.  You may select any string for a secret,
# but it must match here and in the configuration used by the Nova Metadata
# Server. NOTE: Nova uses a different key: neutron_metadata_proxy_shared_secret
metadata_proxy_shared_secret = 
