[DATABASE]
sql_connection = mysql://{{quantum_db_user}}:{{quantum_db_pw}}@{{db_host}}/{{quantum_db}}
reconnect_interval = 2

[OVS]
network_vlan_ranges = default:2000:3999
tunnel_id_ranges =
integration_bridge = br-int
bridge_mappings = default:br-eth1

[AGENT]
# Agent's polling interval in seconds
polling_interval = 2

[SECURITYGROUP]
# Firewall driver for realizing {{neutron}} security group function
# firewall_driver = {{neutron}}.agent.linux.iptables_firewall.OVSHybridIptablesFirewallDriver
firewall_driver = {{neutron}}.agent.linux.iptables_firewall.OVSHybridIptablesFirewallDriver

