[DEFAULT]

# LOGS/STATE
verbose=True
logdir=/var/log/nova
state_path=/var/lib/nova
lock_path=/var/lock/nova
rootwrap_config=/etc/nova/rootwrap.conf

# SCHEDULER
compute_scheduler_driver=nova.scheduler.filter_scheduler.FilterScheduler

# VOLUMES
volume_api_class=nova.volume.cinder.API
volume_driver=nova.volume.driver.ISCSIDriver
volume_group=cinder-volumes
volume_name_template=volume-%s
iscsi_helper=tgtadm

# DATABASE
sql_connection=mysql://{{nova_db_user}}:{{nova_db_pw}}@{{db_host}}/{{nova_db}}

# COMPUTE
libvirt_type=qemu
compute_driver=libvirt.LibvirtDriver
instance_name_template=instance-%08x
api_paste_config=/etc/nova/api-paste.ini

# COMPUTE/APIS: if you have separate configs for separate services
# this flag is required for both nova-api and nova-compute
allow_resize_to_same_host=True

# APIS
osapi_compute_extension=nova.api.openstack.compute.contrib.standard_extensions
ec2_dmz_host={{api_host}}
s3_host={{api_host}}
enabled_apis=ec2,osapi_compute,metadata

# RABBITMQ
rabbit_host={{rabbit_host}}

# GLANCE
image_service=nova.image.glance.GlanceImageService
glance_api_servers=${glance_host}:9292

# NETWORK
network_manager={{network_manager}}
force_dhcp_release=True
dhcpbridge_flagfile=/etc/nova/nova.conf
firewall_driver=nova.virt.libvirt.firewall.IptablesFirewallDriver
# Change my_ip to match each host
my_ip={{ansible_eth0.ipv4.address}}
public_interface=eth0
vlan_interface=eth0
flat_network_bridge=br100
flat_interface=eth0
fixed_range=''

# NOVNC CONSOLE
novncproxy_base_url=http://$my_ip:6080/vnc_auto.html
# Change vncserver_proxyclient_address and vncserver_listen to match each compute host
vncserver_proxyclient_address=$my_ip
vncserver_listen=$my_ip

# AUTHENTICATION
auth_strategy=keystone
[keystone_authtoken]
auth_host = {{keystone_host}}
auth_port = 35357
auth_protocol = http
admin_tenant_name = {{nova_tenant}}
admin_user = {{nova_user}}
admin_password = {{nova_password}}
signing_dirname = /tmp/keystone-signing-nova