$ModLoad imfile   # Load the imfile input module
$ModLoad imklog   # for reading kernel log messages
$ModLoad imuxsock # for reading local syslog messages

$InputFileName /var/log/nova/nova-compute.log
$InputFileTag nova-compute-log:
$InputFileStateFile state-nova-compute-log
$InputRunFileMonitor

$InputFileName /var/log/nova/nova-api.log
$InputFileTag nova-api-log:
$InputFileStateFile state-nova-api-log
$InputRunFileMonitor

$InputFileName /var/log/nova/nova-conductor.log
$InputFileTag nova-conductor-log:
$InputFileStateFile state-nova-conductor-log
$InputRunFileMonitor

$InputFileName /var/log/nova/nova-consoleauth.log
$InputFileTag nova-consoleauth-log:
$InputFileStateFile state-nova-consoleauth-log
$InputRunFileMonitor

$InputFileName /var/log/cinder/cinder-api.log
$InputFileTag cinder-api-log:
$InputFileStateFile state-cinder-api-log
$InputRunFileMonitor

$InputFileName /var/log/cinder/cinder-scheduler.log
$InputFileTag cinder-scheduler-log:
$InputFileStateFile state-cinder-scheduler-log
$InputRunFileMonitor

# Watch /var/log/cinder*
$InputFileName /var/log/cinder/cinder-volume.log
$InputFileTag cinder-volume-log:
$InputFileStateFile state-cinder-volume-log
$InputRunFileMonitor

$InputFileName /var/log/quantum/dhcp-agent.log
$InputFileTag dhcp-agent-log:
$InputFileStateFile state-dhcp-agent-log:
$InputRunFileMonitor

$InputFileName /var/log/quantum/metadata-agent.log
$InputFileTag metadata-agent-log:
$InputFileStateFile state-metadata-agent-log:
$InputRunFileMonitor

$InputFileName /var/log/quantum/l3-agent.log
$InputFileTag l3-agent-log:
$InputFileStateFile state-l3-agent-log:
$InputRunFileMonitor

$InputFileName /var/log/quantum/openvswitch-agent.log
$InputFileTag openvswitch-agent-log:
$InputFileStateFile state-openvswitch-agent-log:
$InputRunFileMonitor

$InputFileName /var/log/quantum/server.log
$InputFileTag quantum-server-log:
$InputFileStateFile quantum-server-log:
$InputRunFileMonitor

$InputFileName /var/log/glance/api.log
$InputFileTag glance-api-log:
$InputFileStateFile glance-api-log:
$InputRunFileMonitor

$InputFileName /var/log/glance/registry.log
$InputFileTag glance-registry-log:
$InputFileStateFile glance-registry-log:
$InputRunFileMonitor


# Send everything to a logstash server ({{logstash_host}}) on port 5544:
*.* @@{{logstash_host}}:5544
